<h1>{{ thisFriend.name }}</h1>
<p>Email: {{ thisFriend.email }}</p>
<p>Contact: {{ thisFriend.contact }}</p>
<p>Address: {{ thisFriend.address }}</p>

<button (click)="onBackClick()" class="btn btn-primary">Back</button>