<nav class="navbar navbar-expand-md navbar-light bg-success fixed-top">
    <a class="navbar-brand" >Welcome To My Friend App!</a>
    <div>
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="/home">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/friend">Friends <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/contact-us">Contact Me</a>
        </li>
      </ul>    
    </div>
  </nav>