<h4>Contact Me</h4>
<hr >
<div class="container">
  <div class="row" *ngIf="!submitted">
    <div class="col-sm-12 text-left">
      <form [formGroup]="contactForm" (ngSubmit) = "onSubmit()">
        <div class="form-group">

          <label for="username">Your Name:</label>
          <input type="text" id="username" class="form-control" [formControlName] = "'username'">
              <span class="help-block"
                  *ngIf="!contactForm.get('username').valid && contactForm.get('username').touched">
                  <span *ngIf="contactForm.get('username').errors['required']">
                  This field is required!
                  </span>
                
                    <span *ngIf="contactForm.get('username').errors['minlength'] &&
                                !contactForm.get('username').errors['required']"> 
                      Minimum of 3 characters required!
                    </span>

                    <span *ngIf="!contactForm.get('username').errors['minlength'] &&
                                  contactForm.get('username').errors['blankSpaces'] &&
                                !contactForm.get('username').errors['required']"> 
                      Blank spaces are not allowed!
                    </span>
                </span>            
          </div>


        <div class="form-group">
          <label for="useremail">Your Email:</label>
          <input type="email" id="useremail" class="form-control" [formControlName]="'useremail'">
          <span class="help-block"
                *ngIf="!contactForm.get('useremail').valid && contactForm.get('useremail').touched">
                    <span *ngIf="contactForm.get('useremail').errors['required']"> 
                      This Field is required
                    </span>
                    <span *ngIf="contactForm.get('useremail').errors['email']">
                      Email is invalid!
                    </span>
                    
                    <span *ngIf="contactForm.get('useremail').errors['emailBlackListed']">
                      This email is Forbidden.
                    </span>
         </span>          
        </div>

        <div class="form-group">
          <label for="usernumber">Your Contact Number:</label>
          <input type="text" id="usernumber" class="form-control" 
          [formControlName]="'usernumber'"  maxlength = "15" >        
          <span class="help-block"
            *ngIf="!contactForm.get('usernumber').valid && contactForm.get('usernumber').touched">
                <span *ngIf="contactForm.get('usernumber').errors['required']">
                  This field is required!
                </span>
                <span *ngIf="!contactForm.get('usernumber').errors['required'] && 
                              contactForm.get('usernumber').errors['phoneCharacters']">
                  Only numbers, +, -, (), and spaces allowed!
                </span>
          </span>
        </div>


        <div class="form-group">
          <label for="usermessage">Your Message:</label>
          <textarea type="text" id="usermessage" rows="5" class="form-control" 
          [formControlName]="'usermessage'"></textarea>          
          <span class="help-block"
            *ngIf="!contactForm.get('usermessage').valid && contactForm.get('usermessage').touched">
              This field is required!
          </span>
        </div>

        <button [disabled]="!contactForm.valid" class="btn btn-primary" 
        type="submit" (click)="onSubmit">Submit</button>
      </form>
      <hr>      
    </div>
  </div>  

  <div class="row" *ngIf="submitted">
    <div class="col-sm-8 col-md-offset-2 text-left">
      <h3>Your Data</h3>
      <p>Username: {{ contactForm.value.username }}</p>
      <p>Email: {{ contactForm.value.useremail }}</p>
      <p>Contact Number: {{ contactForm.value.usernumber }}</p>
      <p>Message: {{ contactForm.value.usermessage }}</p>
      <p><button class="btn btn-primary" (click)="onBackClick()">Guess Whos Back</button></p>
    </div>
  </div>  


</div>
