<h4>Add a New Friend</h4>
<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <div class="form-group row">
        <label for="inputName" class="col-sm-3 form-control-label">Name</label>
        <div class="col-sm-9">
          <input type="text" class="form-control" id="inputName" #inputName [appHoverHighlight]="{background: 'yellow', text:'grey'}">
          <!-- {{ inputInfo.name }} -->
        </div>
      </div>
      <div class="form-group row">
        <label for="inputEmail" class="col-sm-3 form-control-label">Email</label>
        <div class="col-sm-9">
          <input type="text" class="form-control" id="inputEmail" #inputEmail>
          <!-- {{ inputInfo.email }} -->
        </div>
      </div>
      <div class="form-group row">
        <label for="inputContact" class="col-sm-3 form-control-label">Contact No.</label>
        <div class="col-sm-9">
          <input type="text" class="form-control" id="inputContact" #inputContact>
          <!-- {{ inputInfo.contact }} -->
        </div>
      </div>
      <div class="form-group row">
        <label for="inputAddress" class="col-sm-3 form-control-label">Address</label>
        <div class="col-sm-9">
          <input type="text" class="form-control" id="inputContact" #inputAddress>
          <!-- {{ inputInfo.address }} -->
        </div>
      </div>
      <button type="Add" class="btn btn-success" (click)="onAddfriend(inputName,inputEmail,inputContact,inputAddress)" >Add Friend</button>
    </div>
  </div>
</div>
