<h4>My Friends</h4>
<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <table class="table">
        <thead>
          <tr>
            <th>#</th>
            <th>Name</th>
            <th>Email</th>
            <th>Contact</th>
            <th>Address</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let friend of myFriends; let i = index" [appHoverHighlight]="{background:'blue', text:'red'}" [appClickChangeSize]="'20px'">
            <th scope="row">{{ i+1}}</th>
            <td>{{friend.name}}</td>
            <td>{{friend.email}}</td>
            <td>{{friend.contact}}</td>
            <td>{{friend.address}}</td>
            <td><button class="btn btn-danger" (click)="onDeleteFriend(i)">Delete</button></td>
            <td><button class="btn btn-info" (click)="onViewMore(friend.fr_id)">More</button></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>


<ul>
  <li *ngFor="let h of sgHeros">{{ h }}</li>
</ul>
